VITE_FIREBASE_API_KEY=AIzaSyCllVgURKnSY6BU5kIOaX-m6ULISAjo1X4
VITE_FIREBASE_AUTH_DOMAIN=webcement-f5861.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=webcement-f5861
VITE_FIREBASE_STORAGE_BUCKET=webcement-f5861.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=445995602037
VITE_FIREBASE_APP_ID=1:445995602037:web:642dc5f3c2d40191b9a83c
VITE_FIREBASE_MEASUREMENT_ID=G-ET4KN9ZPSF
